*
{
    font-family: 'Bad Script', cursive;
}
.pull-and-refresh
{
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pull-and-refresh-hidden
{
    border-bottom: none;
}
.header-text
{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.task-list
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.task,
.task_wrapper
{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    font-size: 20px;
    width: 80%;
    position: relative;
}
.task_wrapper
{
    width: 100%;
}
.task__text
{
    background-color: #EBE775;
    padding: 10px;
    width: 90%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;
}
.task__delete
{
    background-color: #E25D4B;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    line-height: 60px;
    overflow: hidden;
}
.task__edit-form
{
    background-color: #EBE775;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}
.task__edit-text,
.text-to-add
{
    font-size: 20px;
    width: 95%;
}
.task__delete-hidden {
    font-size: 0;
    height: 0;
    opacity: 0;
}
.task__edit-submit,
.butn-to-add
{
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    background-color: #fff;
}
.add-form
{
    width: 72%;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: #E25D4B;
    border-radius: 10px;
}
.text-to-add
{
    margin-bottom: 10px;
}
.freedomMessage
{
    font-size: 25px;
    text-align: center;
}
.dancingKitty
{
    width: 70%;
}
