<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>TODO List</title>
        <link rel="stylesheet" media="(min-width: 300px)" href="stylesheets/index.css">
    </head>
    <body>
        <div class="page-top"></div>
        <h1>TODO LIST</h1>
        <div class="root"></div>
        <script type="text/javascript" src="/mainPage.bundle.js"></script>
    </body>
</html>
