<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>TODO List</title>
        <link rel="stylesheet" href="stylesheets/index.css">
    </head>
    <body>
        <h1>TODO LIST</h1>
        <div class="task-list"></div>
        <script type="text/javascript" src="scripts/touch-handler.js"></script>
        <script type="text/javascript" src="scripts/index.js"></script>
    </body>
</html>
