extends layout

block content
    h1= title
    .todo-list

    form.todo-list__form(enctype="application/x-www-form-urlencoded")
        input(type='text', name='todo')
        input(type='submit', value='Add todo')

    script(type='text/javascript' src="/javascripts/main.js").
