<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>TODOхи</title>
    <link rel="stylesheet" href="index.css">
    <script src="view.js" defer></script>
    <script src="controlls.js" defer></script>
</head>
<body>
    <article class="wrapper">
        <header class="header">TODO-хи</header>
        <section class="task-list">
        </section>
        <input type="text" class="task-input-text">
        <button class="task-button-add">Добавить</button>
    </atricle>
</body>
</html>