<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="{{ meta.charset }}">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    {{#if tasks.length}}
        <ul class="todo-list">
            {{#each tasks}}
                <li class="todo-list__element">
                    <span class="todo-list__task">{{text}}</span>
                </li>
            {{/each}}
        </ul>
    {{^}}
        <p>No tasks!</p>
    {{/if}}
    <form method="post" action="/">
        <input type="text" name="message">
        <input type="submit" value="Добавить">
    </form>
    <script src="/index.js" class="script"></script>
</body>
</html>