<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
        <title>ToDo-хи</title>
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    </head>
    <body>
        <div class="pull-and-refresh">
            <img src="loader.gif" class="pull-and-refresh__loader">
        </div>
        <div class="header">
            <p class="header-text">TODO-хи</p>
        </div>
        <div class="tasks-container">
            {{> list }}
        </div>
        <div class="add-container">
            <input class="text-to-add" type="text">
            <input class="butn-to-add" type="submit" value="Добавить">
        </div>
        <script src="index.js"></script>
    </body>
</html>
