<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TODO'хи</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="https://secure.nozbe.com/img/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
</head>
<body>
<div class="spinner spinner_hidden">
    <img class="spinner__image" src="refresh-icon.png">
</div>
<header class="header">
    <h1 class="header__title">TODO'хи</h1>
</header>
<main class="main"></main>
<script type="text/javascript" src="constantsAndFunctions.js"></script>
<script type="text/babel" src="reactive.jsx"></script>
</body>
</html>
