<img id="refresh" src="images/refresh_process_animation_by_toby182-d7j5lmc.gif">

<div id="list"></div>

<form name="todos">
    <input name="text" id="text-field" type="text">
</form>
<button id="add">Добавить</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<script src="javascripts/index.js"></script>
