<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TODO-хи</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script type='text/javascript' src='/scripts/classlib.js'></script>
    <script type='text/javascript' src='/scripts/xhr.js'></script>
    <script type='text/javascript' src='/scripts/taphandler.js'></script>
    <script type='text/javascript' src='/scripts/taskhandler.js'></script>
    <script type='text/javascript' src='/scripts/index.js'></script>
  </head>
  <body>
	<div class="task-list">
        <div class="task-list__append-zone">       
        </div>
	</div>
    <div class="template task-template">
		<div class="task-item task-item_edit_false task-item_delete_false">
			<div class="task-item__name">
			</div>
			<div class="task-item__editor">
				<textarea class="task-item__editor__area">
				</textarea>
                <br><button class="task-item__save-button">Сохранить</button>
			</div>
            <div class="task-item__delete-task">
                <img 
                src="/images/delete.png"
                width="30" 
                height="30"
                >
            </div>
		</div>
	</div>
  </body>
</html>
