doctype html
html
  head
    title= 'Todo-хи'
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
  body
    block content
  script(src= '../javascripts/index.js')
