{{#if list.length}}
    {{#each list}}
        <div class="task" id="task_{{id}}">
            <div class="task__text" id="text_{{id}}">{{text}}</div>
            <div class="task__delete task__delete-hidden" id="delete_{{id}}"><i class="fa fa-trash"></i></div>
        </div>
    {{/each}}
{{^}}
    <div class="freedomMessage">
        <p>
            Вам ничего не надо делать.
            <span class="dance">Танцуйте!</span>
        </p>
        <img src="dancingKitty.gif" class="dancingKitty">
        <p>Или бросьте себе новый вызов:</p>
    </div>
{{/if}}
