<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/stylesheets/main.css">
    <script src="/public/javascripts/main.js" defer="defer"></script>
    <title>My app</title>
</head>
<body>
    <div class="back"></div>
    <main class="content">
        <div class="header">
            <div class="header__title">
                TODO List
            </div>
        </div>
        <div class="target"></div>
        <div class="create-block">
            <textarea class="text" rows="3">Название</textarea>
            <button class="button" type="button">Создать</button>
        </div>
    </main>
</body>
</html>
