extends layout

block content
    div.reload
    div.main-container
        div.main-container__header
            h1= title
        div.wrapper
        div.main-container__button
            button.add-button Добавить
    script(src="index.js")
