<header class="main-header">
    <div class="main-header-text main-header__text">
        <h1 class="main-header-text__logo">ToDo-hi</h1>
        <p class="main-header-text__description">
            Добро пожаловать в наш сервис заметок!
        </p>
    </div>
</header>
