
body
{
    width: 100%;
    height: 100%;
    font-size: 60px;
}
h1
{
    text-align: center;
    font-size: 70px;
}
.task-list-item
{
    width: 70%;
    height: 150px;
    border: 1px solid gray;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}
.task-list-item-text
{
    vertical-align: middle;
    line-height: 150px;
    float: left;
    position: absolute;
    white-space: nowrap;
    overflow-x: hidden;
    width: 80%;
}
.task-list-item-text-area
{
    width: 80%;
    height: 100%;
    float: left;
    font-size: 60px;
}
.task-list-item-text-submit-btn
{
    width: 18%;
    height: 150px;
    border: 1px solid gray;
    margin-right: 0;
    float: right;
}

.task__addition-btn
{
    height: 150px;
    width: 50%;
    border: 1px solid gray;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
}

.task-list-item-del
{
    width: 18%;
    height: 150px;
    margin-right: 0;
    float: right;
}
img
{
    width: 100%;
    height: 100%;
}
