body {
  margin: 0;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header__title {
  font-size: 40px;
}
.create-block {
  padding-top: 30px;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #808080;
  z-index: -1;
}
.content {
  background-color: #fff;
  position: relative;
  top: 0px;
  z-index: 1;
}
.content_slide-up {
  transition-property: top;
  transition-duration: 0.3s;
}
.todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.todo-list__edit-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.todo-list__edit-block .edit {
  flex-basis: 80%;
  height: 120px;
  box-sizing: border-box;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.todo-list__edit-block .edit .text {
  width: 90%;
}
.todo-list__edit-block .edit .button {
  display: block;
}
.todo-list__item-block {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.todo-list__item-block .item {
  position: relative;
  left: 20px;
  height: 40px;
  z-index: 2;
  flex-basis: 80%;
  box-sizing: border-box;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition-property: all;
  transition-duration: 0.5s;
}
.todo-list__item-block .item--swiped {
  transform: translateX(-40px);
}
.todo-list__item-block .button {
  position: relative;
  right: 20px;
  z-index: 0;
  display: block;
  height: 40px;
  width: 40px;
  background-color: #f00;
  box-sizing: border-box;
  border: 1px solid #000;
}
