body {
    background-color: #d6e9c6;
}

.remarks {
    margin: 0;
    padding: 0;
}

.remarkContainer {
    &_card {
        display: flex;
        flex-direction: row;
    }
}

.remark {
    display: block;
    border: solid 1px gray;
    width: 100%;
    padding: 10px;
    height: 60px;
    background-color: #f8f8f8;


    &__delete {
        height: 80px + 2px;
    }
}

.creating {
    display: none;
}


.redo {
    display: none;
}

.delButton {
    display: none;
}

.remarks {
    list-style-type: none;
}
