body {
    background-color: #d6e9c6;
}

.remarks {
    margin: 0;
    padding: 0;
}

.remarkContainer {
    &_card {
        display: flex;
        flex-direction: row;
    }
}

.remark {
    border: solid 1px gray;
    width: 100%;
    padding: 10px;
    height: 60px;
    background-color: #f8f8f8;

    &__delete {
        height: 80px + 2px;
    }

    &_hidden {
        display: none;
    }

    &_delete {
        display: flex;
        transform: translateX(0);
    }

    &_visible {
        display: flex;
        transform: translateX(0);
    }
}

.new-remark {
    &_visible {
        display: block;
    }
    &_hidden {
        display: none;
    }
}


.delButton {
    &_visible {
        display: inline-block;
    }
    &_hidden {
        display: none;
    }
}

.remarks {
    list-style-type: none;
}
