<li id="{{ id }}" class="notes__item notes-item">
    <div id="task-{{ id }}"class="notes-item__task">
        {{ task }}
    </div>
    <div class="notes-item__delete notes-item__delete_invisible">
    </div>
</li>
