body
{
    font-family: Arial, sans-serif;
    font-size: 26px;
    text-align: center;
    width: 100%;
}

header
{
    line-height: 2em;
}

img
{
    width: 80px;
}

.notes
{
    width: 302px;
    display: inline-block;
}

.note,
form
{
    border: 1px solid #000;
    line-height: 1.5em;
    width: 300px;
    height: 80px;
    margin: 15px 0;
}

.note_create
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note_create__submit
{
    margin-left: -72px;
}

.noteText
{
    margin-top: 25px;
}

.noteText,
.inline
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    line-height: 20px;
    vertical-align: middle;
}

.inline
{
    margin-top: 25px;
}

input,
button
{
    display: block;
    margin: 2%;
}
