header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1
{
    display: block;
    font-size: 1.4em;
    font-weight: 700;
    color: #1e104b;
}

.task-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}

.task-item
{
    position: relative;
    border: 1px solid #ffab00;
    background-color: #e1ff00;
    width: 70%;
    min-height: 40px;
    height: 30%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0;
    transition: all 0.5s;
}

.task-item__text
{
    font-family: serif;
    font-size: 1.2em;
    padding-left: 10px;
    line-height: 1.5em;
}

.task-item__text_hidden
{
    display: none;
}

.task-item__textarea_hidden
{
    display: none;
}

.task-item__button_hidden
{
    display: none;
}

.task-item__delete
{
    background: url("trashbox.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: -16%;
    width: 40px;
    height: 40px;
    visibility: visible;

}

.task-item__delete_hidden
{
    visibility: hidden;
}

.task-item_change
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e2e500;
    border: 1px solid #e3d400;
    width: 90%;
    min-height: 60px;
    margin-bottom: 10px;
}

.task-item_show-delete
{
    transform: translateX(-20%);
}

.task-item__textarea
{
    margin-top: 5px;
    width: 85%;
    min-height: 80px;
    min-width: 300px;

}

.task-item__button
{
    margin: 2px 0 2px 30%;
    background: #34ff4f;
    font-weight: 700;
    font-family: sans-serif;
    border: 1px;
    border-radius: 5px;
}

.reload
{
    display: block;
    height: 40px;
}

.reload_hidden
{
    display: none;
}

.task-controllers
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.task-controllers__button-add
{
    height: 40px;
    width: 30%;
    font-size: 1.3em;
}

.task-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e2e500;
    border: 1px solid #e3d400;
    width: 90%;
    min-height: 60px;
    margin-bottom: 10px;
}

.task-form_hidden
{
    display: none;
}

.task-form__textarea
{
    margin-top: 5px;
    width: 85%;
    min-height: 80px;
    min-width: 300px;

}

.task-form__button-save
{
    margin: 2px 0 2px 30%;
    background: #34ff4f;
    font-weight: 700;
}

.button
{
    background: #34ff4f;
    font-weight: 700;
    font-family: sans-serif;
    border: 1px;
    border-radius: 5px;
}
