.todo__refresh
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;

.todo__refresh.animate
    animation: spin 1s linear infinite;

@keyframes spin {100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }