/*@import '../../blocks/page/page.css';
@import '../../blocks/header/header.css';
*/

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.list {
	display: flex;
	width: 100%;
	flex-direction: column;
}

[class^="list__task__num"] {
	height: 128px;
	margin: 10px 0;
	width: 100%;
	display: flex;
    justify-content: space-between ;
}

[class^="list__task__todo__num"] {
	text-align: center;
	vertical-align: middle;
	line-height: 128px;
	font-size: 50px;
	text-align: center;
	overflow: hidden;
	height: 128px;
	flex-grow: 3;
	background: #fff;
}

[class^='delete'] {
	width: 128px;
	height: 100%;
	background: url(./delete.png);
}

a {
	text-decoration: none;
	color: #000;
}

.list__task__submit,
.list__task__add,
[class^='list__task__input'] {
	border : solid 9px #696869;
	border-radius : 3px;
	font-size : 50px;
	color : #696869;
	padding : 10px 20px;
	margin: auto;
}

.list p {
	font-size: 50px;
}

form {
	width: 100%;
}