body {
    background: #f37735;
}

.data
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
    margin-top: 30px;

}

.list {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: auto;
}


.task {
    vertical-align: middle;
    line-height: 128px;
    text-align: center;
    transition-duration: 0.5s;
    transition-property: margin;
    height: 128px;
    font-size : 50px;
    margin: 10px 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 3px solid #00aedb;
    border-radius: 20px;
}

.task[data-num='-1'] {
    background-color: inherit;
    display: flex;
    justify-content: center;
    border: none;
}

.task_big {
    left: 5%;
    height: 128px;
    overflow: hidden;
    position: absolute;
    width: 90%;
    margin: 10px 0px;
    border: solid 1px #00aedb;
    background-color: #00b159;
    border-radius: 20px;
}

.task__todo {
    vertical-align: middle;
    text-align: center;
    line-height: 128px;
    font-size : 50px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 128px;
    width: 100%;
    background-color: inherit;
    border-radius: 3px solid #00aedb;
    border-radius: 20px;
}

.remove {
    position: absolute;
    top: 0;
    right: -130px;
    width: 128px;
    height: 100%;
    background: url(./delete.png);
}


.task__add,
.task__input,
.task__submit {
    height: 128px;
    border : solid 1px #00aedb;
    padding : 10px 20px;
    font-size : 50px;
}


.task__submit {
    width: 30%;
}

.task__submit:hover,
.task__add:hover {
    color: #fff;
    background-color: #00aedb;
}

.task__input {
    width: 70%;
    height: 110px;
    color : #696869;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header__title {
    height: 120px;
    width: 50%;
    line-height: 120px;
    font-size: 130px;
    border: 2px solid #f00;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #00aedb;
}

form {
    width: 100%;
}

.loading {
    width: 80px;
    margin: 30px auto;
}

.loading-bar {
  display: inline-block;
  width: 10px;
  height: 60px;
  margin: 0 3px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}

.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}

.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}