<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div id="root"></div>
<!--<section class="tasks"></section>-->
<!--<div class="add-task">-->
    <!--<button class="add-task__button">Добавить</button>-->
<!--</div>-->
<script src="/main.js"></script>
</body>
</html>