@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic');

html
  height: 100%

body
  height: 100%
  font-family: 'Open Sans', sans-serif;

#root
  height: 100%
  padding-top: 10px

.app-container
  height: 100%

.todo-app
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
