body {
  background-color: #d6e9c6;
}

.remark {
  border: solid 1px gray;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  width: 100%;
  background-color: #f8f8f8;
}

.creating {
  display: none;
}


.redo {
  display: none;
}

.delButton {
  display: none;
}

.remarks {
  list-style-type: none;
}
