.todo__edit-form
    //z-index: 1
    //height: 100%
    //width: 100%
    //display: block
    //margin: 0 auto
    //min-height: 100px
    //background-color: #eaeaea

    //display: flex
    //flex-flow: row wrap
    //align-items: center
    //justify-content: center
    //width: 100%
    //margin: 10px 30px 10px 30px

    display: flex
    margin: 0 auto
    align-items: center
    justify-content: center
    height: 100px
    background-color: #eaeaea
