.todohi-block
{
    margin: 0 auto;
    width: 80%;
}

.todohi-item
{
    margin: 10px 0;
    text-align: center;
}

.todohi-item__todoha {
    display: inline-block;
    width: 70%;
    padding: 10px;
    border: 3px double black;
    background: hsla(300, 80%, 50%, 0.25);
}

.todohi-item__title
{
    font-size: 25px;
}

.todohi-item__delete-button
{
    display: inline-block;
    float: right;
    width: 40px;
    height: 49px;
    border: 3px double black;
    line-height: 50px;
}

.todohi-edit-block
{

}

.todohi-edit-block__input,
.todohi-add-block__input
{
    width: 100%;
}

.todohi-edit-block__save-button
{
    margin: 5px;
    float: right;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
    cursor: pointer;
}

.todohi-item-add-block
{
    margin: 35px 0;
    text-align: center;
}

.todohi-item-add-block__add-button
{
    position: relative;
    top: 60px;
    width: 80%;
    margin: 0 auto;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    background: #40C781;
    border-radius: 5px;
    transition: 0.2s;
}

.todohi-item-add-block__add-button:hover
{
    background: #35A76E;
}

.todohi-item-add-block__add-button:active
{
    background: #21935A;
}
