body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-aling: center;
}

a {
  color: #00B7FF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  aling-items: center;
}

.header
.footer
.reload
{
  display: flex;
  align-self: center;
}