<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{#each stylesheets}}
            <link rel="stylesheet" href="stylesheets/{{this}}.css" />
        {{/each}}
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png"/>
    </head>
    <body>
        {{{body}}}
        {{#each scripts}}
            <script type="text/javascript" src="{{this}}.js"></script>
        {{/each}}
    </body>

</html>