<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Список дел</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="refresh"></div>
    <section class="content">
        <p class="header">TODO-хи</p>
        <section class="tasks-list">
        </section>
        <section class="add-task">
        </section>
        <script src="main.js"></script>
    </section>
</body>
</html>
