<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ meta.charset }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="main.css">
    <script src="../../../Public/tasks.js"></script>
</head>
<body>
<header>
    <img class="reload reload_hidden" src="refresh-icon.png">
    <h1>TODO-хи</h1>
</header>
<main>
    <div id="content"></div>
</main>
</body>
</html>
