<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>TODO-хи</title>
    <link rel="stylesheet" href="main.css">
    <script src="tasks.js"></script>
</head>
<body>
<header>
    <img class="reload reload_hidden" src="refresh-icon.png">
    <h1>TODO-хи</h1>
</header>
<main>
    <section class="task-container"></section>
    <section class="task-controllers">
        <form class="task-form" name="task-add-form">
            <textarea class="task-form__textarea" placeholder="Введите текст заметки"></textarea>
            <button class="button task-form__button-save">Сохранить</button>
        </form>
        <button class="button task-controllers__button-add">Добавить</button>
    </section>
</main>
</body>
</html>
