<div class="new-note">
    <button class="new-note__button-add new-note__button_visible">Добавить</button>
    <form name="newNote" class="new-note__form new-note-form new-note-form_invisible">
        <input name="task" class="new-note-form__input" placeholder="Новая заметка..">
        <button type="button" class="new-note-form__button">Сохранить</button>
    </form>
</div>
