.new-note
{
    padding: 10px;
    text-align: center;
    background-color: #33cccf;
    font-size: 20px;
    border-radius: 15px;
}

.new-note-form_invisible,
.new-note__button_invisible
{
    display: none;
}

.new-note-form_visible,
.new-note__button_visible
{
    display: inline-block;
}

.new-note__button-add,
.new-note-form__button
{
    font-size: 20px;
}

.new-note-form input
{
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
